body {
    margin: 0;
    padding: 0;

    background: $pageBackgroundColour url('../images/background.jpg') no-repeat scroll top center;
    background-size: 100%;

    color: $primaryTextColour;

    font-size: 12pt;
    font-family: "ariel", sans-serif;

    a {
        text-decoration: none;
        color: $linkColour;
    }

    a:active,
    a:visited,
    a:link {
        @extend a;
    }

    a:hover {
        @extend a;

        color: $hoverLinkColour;
    }

    h1 {
        line-height: 1.4em;
        margin: 0;
        padding: 0;
    }

    h2 {
        @extend h1;
        font-size: 1em;
    }

    h3 {
        @extend h1;
        font-size: 0.75em;
    }

    h4 {
        @extend h3;
        font-weight: normal;
    }

    /* Container Class */
    #container {
        margin: 2em auto;
        width: 100%;
        max-width: 460px;
    }

    /* Various Helper Classes */
    .star {
        background: transparent url('../images/star.png') repeat-x top left;
        height: 14px;
        display: inline-block;
    }

        .star-5 { @extend .star; width: 16px * 5; }
        .star-4 { @extend .star; width: 16px * 4; }
        .star-3 { @extend .star; width: 16px * 3; }
        .star-2 { @extend .star; width: 16px * 2; }
        .star-1 { @extend .star; width: 16px; }

}
