/* Primary Colours */
$black:                                 #000;
$white:                                 #fff;

/* Brand Colours */
$blue:                                  #19388a;
$grey:                                  #d2e1f0;
$gold:                                  #f2d430;
$teal:                                  #00aee1;

/* Page Variables */
$linkColour:                            $white;
$hoverLinkColour:                       $gold;

/* Container Variables */
$pageBackgroundColour:                  $white;
$backgroundColour:                      $teal;
$bannerBackgroundColour:                $grey;
$priceBackgroundColour:                 $gold;

$primaryTextColour:                     $white;
$bannerTextColour:                      $blue;
