/* Primary Colours */
$black:                                 #000;
$white:                                 #fff;

/* Brand Colours */
$blue:                                  #19388a;
$lightBlue:                             #b2ebf7;
$grey:                                  #d2e1f0;
$gold:                                  #f2d430;
$teal:                                  #00aee1;

/* Page Variables */
$linkColour:                            $white;
$hoverLinkColour:                       $gold;

/* Container Variables */
$pageBackgroundColour:                  $white;
$backgroundColour:                      $white;
$bannerBackgroundColour:                $grey;
$linkBannerBackgroundColour:            $teal;
$priceBackgroundColour:                 $gold;

$primaryTextColour:                     $teal;
$bannerTextColour:                      $blue;

/* Button Variables */
$buttonBackgroundColour:                $lightBlue;
$buttonTextColour:                      $teal;

$activeButtonBackgroundColour:          $teal;
$activeButtonTextColour:                $white;
