/* SASS Variables and Mixins */
/* Primary Colours */
/* Brand Colours */
/* Page Variables */
/* Container Variables */
body {
  margin: 0;
  padding: 0;
  background: white url("../images/background.jpg") no-repeat scroll top center;
  background-size: 100%;
  color: white; }
  body a, body a:active,
  body a:visited,
  body a:link, body a:hover {
    text-decoration: none;
    color: white; }
  body a:hover {
    color: #f2d430; }

/* Sections */
